body{
  font-family:Arial, Helvetica, sans-serif
}

.para
{  color: hsl(0, 0%, 0%);
  font-weight: bold;
  font-size: 22px;
}

.small-para {
  font-size: 14px;
  font-weight: bold;
  
}

.buttonconfirm {
  background: green;
  color: white;
  font-weight: bold;
  font-size: 20px;
} 

.buttoncancel {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  font-size: 20px;
}

.child {
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 14px;
}

text {
  color: rgb(0, 0, 0);
  font-size: 22px;
  font-weight: 110;
}
